$cardSize: 200px;
$horizontalGap: 30px;
$horizontalMarg: 35px;
$rankWidht: 32px;
$extraHeight: 36px;
$animationPeriod: 1s;

@function calculateWidth ($columns) {
  @return $columns * $cardSize + ($columns - 1) * $horizontalGap + 2 * $horizontalMarg - 1px;
}

@function calcRankPosition ($rankWidht, $cardSize) {
  @return ($cardSize - $rankWidht)/2;
}

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-width: calculateWidth(2);
  font-family: Arial, sans-serif;

}

.people {
  margin: 30px $horizontalMarg;
  display: grid;
  grid: auto-flow/ repeat(4, $cardSize);
  grid-gap: 40px $horizontalGap;

  .person {
    position: relative;
    transition: transform $animationPeriod;
    .photo {
      position: relative;
      img {
        width: 100%;
        border-radius: 50%;
        transition: border-radius $animationPeriod;
      }

      .rank {
        position: absolute;
        width: $rankWidht;
        height: $rankWidht;
        border-radius: 50%;
        background: white;
        font-size: 16px;
        font-weight: bold;
        line-height: $rankWidht;
        text-align: center;
        color: #8B0000;
        right: 10px;
        top: calcRankPosition($rankWidht, $cardSize);
      }
    }
    .details {
      text-align: center;
      .name {
        font-size: 20px;
        line-height: 23px;
        font-weight: bold;
        color: #2F4F4F;
        margin-top: 8px;
        display: block;
      }

      .extra {
        display: none;
      }
    }
    &:hover {
      z-index: 1;
      transform: scale(1.2);

      .photo {
        img {
          border-radius: 25%;
        }
      }

      .extra {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        font-size: 18px;
        color: #000000;
        text-align: center;
        height: $extraHeight;
        line-height: $extraHeight;

          .sport::after {
            content: ",";
            display: inline;
          }

          .pay::before {
            content: "$";
            display: inline;
          }

          .pay::after {
            content: "M";
            display: inline;
          }
      }


      &::after {
        content: " ";
        display: block;
        background: #EEEEEE;
        border-radius: 10px;
        position: absolute;
        $padding: 10px;
        left: -$padding;
        top: -$padding;
        right: -$padding;
        bottom: -$extraHeight - $padding;
        z-index: -1;
      }
    }
  }
}

@media (max-width: calculateWidth(4)) {
  .people {
    grid: auto-flow/ repeat(2, $cardSize);
  }
}
